.calendar {
  z-index: 100;
  position: absolute;
  top: 70px;
  right: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 292px;
  background: #fff;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: var(--colors-cloudy-solid-500);
  font-weight: 600;
  font-size: 16px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.calendar-header button {
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.calendar-header button:first-child {
  background-image: url(../../images/icon-arrow-left.svg);
}

.calendar-header button:last-child {
  background-image: url(../../images/icon-arrow-right.svg);
}

.calendar-days {
  padding: 13px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 10px;
}

.calendar-day {
  padding: 9px 6px 9px 0;
  cursor: pointer;
  border: 1px solid #f0f0f3;
}

.calendar-day:hover {
  background: #e4eaff;
}

.calendar-day.selected {
  background: #e4eaff;
}

.calendar-day.outside {
  color: #d1cfd7;
  border: none;
}

.calendar-weekday {
  font-size: 13px;
  padding-bottom: 10px;
}

.calendar-weekday:nth-child(6),
.calendar-weekday:nth-child(7) {
  color: #f96666;
}
